
    {% from "LaPoizWindBundle:BackOffice/Spot/Ajax:navDataWindPrev.html.twig" import navDataWindPrev %}
    {{ navDataWindPrev(dataWindPrev) }}

    <div class="row">
        <div class="col-sm-12">
            <div id="resultAjax"></div>
        </div>
    </div>
