{% extends 'LaPoizWindBundle:BackOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Caculate All Prevision for {{ spot.nom }}</h1>

        <h2>{{ spot.nom }}</h2>

        .....

    </div>

{% endblock %}