{% extends 'LaPoizWindBundle:BackOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Tests</h1>

        <p class="lead">Possibilité de tester tous un tas de truc sympa.</p>

    </div>

{% endblock %}