<ul>
    <li><span class="badge" id="navStep1">1er étape</span>: Vous</li>
    <li><span class="badge" id="navStep2">2nd étape</span>: Le spot</li>
    <li><span class="badge" id="navStep3">3ème étape</span>: Sites de prévision
        <ul id="listSite"></ul>
    </li>
    <li><span class="badge" id="navStep4">4ème étape</span>: Les marées.</li>
    <li><span class="badge" id="navStep5">5ème étape</span>: Validation </li>
</ul>
