{% extends 'LaPoizWindBundle:BackOffice:base.html.twig' %}

{% block bodyPage %}
    <h1>{{ spot.nom }}</h1>
    <div class="starter-template">
        <div class="row">
            <div class="col-sm-2">
                {% from "LaPoizWindBundle:BackOffice/Spot:nav.html.twig" import navSpot %}
                {{ navSpot(spot, (dataWindPrev is defined?dataWindPrev:null)) }}
            </div>

            <div class="col-sm-10">
                {% block bodySpotPage %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="result">

                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsEnd %}
    <script>
        //$('#editSpotLink').get(0).click();
    </script>
{% endblock %}